<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Task</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="view-container">

    <div class="view-header">
        <h2 th:text="${task.title}">Task Title</h2>
        <span class="view-badge"
              th:classappend="
                ${task.status} == 'PENDING' ? ' badge-pending' :
                (${task.status} == 'IN_PROGRESS' ? ' badge-progress' : ' badge-done')"
              th:text="${task.status}">
        </span>
    </div>

    <div class="view-details">
        <div class="view-item">
            <span>Description</span>
            <strong th:text="${task.description}">Description</strong>
        </div>

        <div class="view-item">
            <span>Priority</span>
            <strong th:text="${task.priority}">Priority</strong>
        </div>

        <div class="view-item">
            <span>Status</span>
            <strong th:text="${task.status}">Status</strong>
        </div>

        <div class="view-item">
            <span>Due Date</span>
            <strong th:text="${task.date}">Date</strong>
        </div>

        <div class="view-item view-desc">
            <span>Task ID</span>
            <strong th:text="${task.serialNo}">1</strong>

        </div>
        <div class="view-item">
    <span>Completed At</span>

    <strong th:if="${task.completedAt != null}"
            th:text="${#temporals.format(task.completedAt,'dd MMM yyyy, HH:MM')}">Completion Date</strong>
    </strong>

    <strong th:if="${task.completedAt == null}">
        Not Completed Yet
    </strong>
</div>

    </div>

    <div class="view-actions">
        <a th:href="@{/edit/{id}(id=${task.id})}" class="btn btn-edit"> Edit</a>
        <a href="/home" class="btn btn-back"> Back</a>
    </div>

</div>




<script th:src="@{/theme.js}"></script>


</body>
</html>
